html{
    font-size: 62.5%;
    -webkit-overflow-scrolling: touch;
}
#wrap{
    width: 100%;
    height: 100%;
    background: linear-gradient(#75B8F6,#B9E6FF,#fff);
    header{
        width: 100%;
        height: 5vh;
        display: flex;
        h1{
            width: 50%;
            height: 100%;
            font-size: 3.2rem;
            padding: 1rem 0 0 2rem;
        }
        & .headbox{
            width: 50%;
            height: 100%;
            display: flex;
            justify-content: flex-end;
            gap: 1rem;
            padding: 1rem 2rem 0 0;
            & .calender{
                width: 3rem;
                height: 3rem;
                border: 1px solid #000;
                margin: 1rem;
            }
            & .nav{
                width: 3rem;
                height: 3rem;
                margin: 1rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: .7rem;
                & span{
                    width: 80%;
                    border: .5px solid #000;

                }
            }
        }
    }
    main{
        .weather{
            width: 90%;
            margin: 0 auto;
            display: flex;
            border-top: 1px solid #000;
            margin-top: 3rem;
            & div:first-child{
                width: 50%;
                height: 4vh;
                border-right: 1px solid #000;
                text-align: center;
                font-size: 1.8rem;
                line-height: 2;
            }
            & div:last-child{
                width: 50%;
                text-align: center;
                font-size: 1.8rem;
                line-height: 2;
            }
        }
        section{
            display: flex;
            flex-direction: column;
            & > div{
                display: flex;
                justify-content: flex-end;
                align-items: center;
                .statbox{
                    margin: 6rem 4rem 0 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    .dayweather{
                        font-size: 1.8rem;
                    }
                    .statistics{
                        width: 25rem;
                        height: 25rem;
                        border-radius: 50%;
                        margin-top: 2rem;
                        background-image: conic-gradient(#75B8F6 0deg 120deg,#FDCC8A 120deg 200deg, #FB9AA3 200deg 360deg);
                    }
                }
                .symbolbox{
                    display: flex;
                    justify-content: flex-end;
                    margin-top: 9rem;
                    height: 100%;
                    & p{
                        font-size: 2rem;
                        line-height: 5;
                        margin-right: 1rem;
                    }
                }
            }
            .plusbox{
                width: 80%;
                margin: 2rem auto 0;
                text-align: center;
                line-height: 1.4;
                & > p{
                    width: 5rem;
                    height: 5rem;
                    border-radius: 50%;
                    border: #000 2px solid;
                    & span{
                        font-size: 3.2rem;
                    }
                }
            }
        }
    }
    footer{
        section{
            .btnbox{
                width: 100%;
                border-bottom: 1px solid #fff;
                    display: flex;
                        .btn{
                            width: 7rem;
                            height: 4rem;
                            color: #fff;
                            font-weight: bold;
                            font-size: 2.4rem;
                            transform-origin: bottom center;
                            &:nth-child(1){
                                background-color: #75B8F6;
                            }
                            &:nth-child(2){
                                background-color: #FDCC8A;
                            }
                            &:nth-child(3){
                                background-color: #FB9AA3;
                            }
                        }
                        .btnstyle{
                            transform: scale(1.2,1.5);
                        }
                }
            }
            .chatbox{
                width: 100%;
                height: 30vh;
                display: flex;
                flex-direction: column;
                justify-content: start;
                gap: 3rem;
                overflow: scroll;
                background-color: #fff;
                .message{
                    width: 30rem;
                    height: 7rem;
                    margin-left: 5rem;
                    border-radius: 1.5rem;
                    position: relative;
                    padding: 20px;
                    margin: 0px 0px 0px 30px;
                    border: 1px solid #fff;
                    background-color: #9AD9E1;
                    text-align: center;
                    .chatText{
                        font-size: 1.6rem;
                    }
                    &:first-child{
                        margin-top: 3rem;
                    }
                    &::before {
                        position: absolute;
                        transform: translateY(-50%) rotate(-45deg);
                        top: 60%;
                        left: -11px;
                        width: 20px;
                        height: 20px;
                        background-color: #9AD9E1;
                        border-top: 1px solid #fff;
                        border-left: 1px solid #fff;
                        content: "";
                    }
                    &::after{
                        content: '12:30';
                        color: #9AD9E1;
                        position: absolute;
                        right: -3.5rem;
                        bottom: 0;
                    }
                    .chatText{
                        color: #fff;
                    }
                }
            }
            & > div:last-child{

            }
        }
    }
