html{
    font-size: 62.5%;
}
#wrap{
    width: 100%;
    height: 100%;
    header{
        width: 100%;
        height: 5vh;
        display: flex;
        h1{
            width: 50%;
            height: 100%;
            font-size: 3.2rem;
            border: 1px solid tomato;
        }
        & .headbox{
            width: 50%;
            height: 100%;
            display: flex;
            justify-content: flex-end;
            border: 1px solid skyblue;
            & .calender{
                width: 2rem;
                height: 2rem;
                border: 1px solid #000;
                margin: .5rem;
            }
            & .nav{
                width: 2rem;
                height: 2rem;
                border: 1px solid #000;
                margin: .5rem;
            }
        }
    }
}