html{
    font-size: 62.5%;
}
#wrap{
    width: 100%;
    height: 100vh;
    background:#75B8F6;
    header{
        width: 100%;
        height: 5vh;
        display: flex;
        h1{
            width: 50%;
            height: 100%;
            font-size: 3.2rem;
            padding: 1rem 0 0 2rem;
        }
        & .headbox{
            width: 50%;
            height: 100%;
            display: flex;
            justify-content: flex-end;
            gap: 1rem;
            padding: 1rem 2rem 0 0;
            & .nav{
                width: 3rem;
                height: 3rem;
                margin: 1rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: .7rem;
                & span{
                    width: 80%;
                    border: .5px solid #fff;
                }
            }
        }
    }
    main{
        width: 100%;
        height: 100%;
        .border{
            width: 90%;
            display: block;
            border: 1px solid #fff;
            margin: 0 auto;
            margin-top: 3rem;
        }
        section{
            display: flex;
            flex-direction: column;
            gap: 4rem;
            & > div{
                & .textform{
                    border-bottom:1px solid #000 ;
                }
            }
            
        }
    }
}