#wrap {
  width: 100%;
  height: 100%;
  background: linear-gradient(#75B8F6, #B9E6FF, #fff);
}
#wrap header {
  width: 100%;
  height: 5vh;
  display: flex;
}
#wrap header h1 {
  width: 50%;
  height: 100%;
  font-size: 3.2rem;
  padding: 1rem 0 0 2rem;
}
#wrap header .headbox {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  padding: 1rem 2rem 0 0;
}
#wrap header .headbox .calender {
  width: 3rem;
  height: 3rem;
  border: 1px solid #000;
  margin: 1rem;
}
#wrap header .headbox .nav {
  width: 3rem;
  height: 3rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
}
#wrap header .headbox .nav span {
  width: 80%;
  border: 0.5px solid #000;
}